        .bg-custom {
            background-color: #ED1C24;
        }
        
        .input-lg {
            height: 46px;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.3333333;
            border-radius: 6px;
        }
        
        .button-custom {
            background-color: #10cc10;
            border-radius: 6px;
        }
        
        .bg-custom-truck {
            background-color: #f5e7e7;
        }
        
        .truck-container {
            height: 120px;
            position: relative;
            width: 100%;
        }
        
        .inner-shadow {
            box-shadow: inset 0px 11px 8px -10px #ccc, inset 0px -11px 8px -10px #ccc;
        }
        
        .truck-image {
            max-width: 290px;
            position: relative;
            height: 120px;
            background-image: url('https://i.ibb.co/QQrX3jm/junk-king-truck.png');
            background-repeat: no-repeat;
            margin: 0 auto;
            background-size: contain;
        }
        /* .progress-bar {
            max-width: 90px; 
            position: relative;
            height: 64px;
            width: 290px;
        } */
        
        .progress {
            position: relative;
            /* width: 157px; */
            width: 55%;
            height: 52.5%;
            right: -42%;
            top: 8px;
            overflow: hidden;
            border-radius: 4px;
        }
        
        .progress-bar {
            background-color: #ED1C24;
            position: absolute;
            width: 157px;
            height: 100%;
            /* right: 35px;
            top: 8px; */
            overflow: hidden;
            border-radius: 4px;
        }
        /* New Style */
        
        .lSSlideOuter {
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            line-height: 1.42857143;
            -webkit-font-smoothing: antialiased;
            color: #333;
            font-family: "Catamaran", sans-serif;
            font-size: 0.8em;
            text-align: center;
            box-sizing: border-box;
            overflow: hidden;
            user-select: none;
            touch-action: manipulation;
        }
        
        .lSSlideWrapper {
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            line-height: 1.42857143;
            -webkit-font-smoothing: antialiased;
            color: #333;
            font-family: "Catamaran", sans-serif;
            font-size: 0.8em;
            text-align: center;
            user-select: none;
            box-sizing: border-box;
            position: relative;
            max-width: 100%;
            overflow: hidden;
            touch-action: manipulation;
        }
        
        .categories-slider {
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            line-height: 1.42857143;
            -webkit-font-smoothing: antialiased;
            font-family: "Catamaran", sans-serif;
            font-size: 0.8em;
            text-align: center;
            user-select: none;
            box-sizing: border-box;
            margin-top: 0;
            margin-bottom: 10px;
            overflow: hidden;
            transition-timing-function: inherit!important;
            transition-duration: inherit!important;
            -webkit-transition: all 1s;
            transition-property: transform, height;
            padding-left: 0;
            list-style: none;
            touch-action: manipulation;
            color: #ffffff;
            width: 825px;
            padding-bottom: 0%;
            height: 153px;
            transform: translate3d(0px, 0px, 0px);
        }
        
        .lslide {
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            line-height: 1.42857143;
            -webkit-font-smoothing: antialiased;
            font-family: "Catamaran", sans-serif;
            font-size: 0.8em;
            user-select: none;
            list-style: none;
            box-sizing: border-box;
            float: left;
            cursor: grab;
            touch-action: manipulation;
            text-align: center;
            color: #ffffff;
            width: 127.5px;
            margin-right: 10px;
        }
        
        .cat-slide {
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            line-height: 1.42857143;
            -webkit-font-smoothing: antialiased;
            font-family: "Catamaran", sans-serif;
            font-size: 0.8em;
            user-select: none;
            list-style: none;
            text-align: center;
            box-sizing: border-box;
            background-color: transparent;
            text-decoration: none;
            outline: none;
            touch-action: manipulation;
            color: #ffffff;
        }
        
        .img-responsive {
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            line-height: 1.42857143;
            -webkit-font-smoothing: antialiased;
            font-family: "Catamaran", sans-serif;
            font-size: 0.8em;
            user-select: none;
            list-style: none;
            text-align: center;
            color: #ffffff;
            box-sizing: border-box;
            vertical-align: middle;
            display: block;
            max-width: 100%;
            height: auto;
            touch-action: manipulation;
            background-color: #ffffff;
            border-radius: 5px;
            border: 4px solid #45b72b;
        }
        
        .lSAction {
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            line-height: 1.42857143;
            -webkit-font-smoothing: antialiased;
            color: #333;
            font-family: "Catamaran", sans-serif;
            font-size: 0.8em;
            text-align: center;
            user-select: none;
            box-sizing: border-box;
            touch-action: manipulation;
            display: block;
        }
        
        .lSPrev {
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            line-height: 1.42857143;
            -webkit-font-smoothing: antialiased;
            font-family: "Catamaran", sans-serif;
            font-size: 0.8em;
            text-align: center;
            user-select: none;
            box-sizing: border-box;
            background-color: transparent;
            color: #337ab7;
            text-decoration: none;
            width: 32px;
            display: block;
            height: 32px;
            background-image: url('https://i.ibb.co/dbss2Rw/controls-blk.png');
            cursor: pointer;
            position: absolute;
            margin-top: -16px;
            opacity: .5;
            transition: opacity .35s linear 0s;
            background-position: 0 0;
            left: 10px;
            touch-action: manipulation;
            z-index: 0;
            top: 36%;
        }
        
        .lSNext {
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            line-height: 1.42857143;
            -webkit-font-smoothing: antialiased;
            font-family: "Catamaran", sans-serif;
            font-size: 0.8em;
            text-align: center;
            user-select: none;
            box-sizing: border-box;
            background-color: transparent;
            color: #337ab7;
            text-decoration: none;
            width: 32px;
            display: block;
            height: 32px;
            background-image: url('https://i.ibb.co/dbss2Rw/controls-blk.png');
            cursor: pointer;
            position: absolute;
            margin-top: -16px;
            opacity: .5;
            transition: opacity .35s linear 0s;
            background-position: -32px 0;
            right: 10px;
            touch-action: manipulation;
            z-index: 0;
            top: 36%;
        }